{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    /* search section start*/
    .banner-section {
        background: url('/static/images/newjob.jpg'), rgba(0, 0, 0, .7) no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        background-position-y: -260px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-blend-mode: color;
    }

    .banner-heading {
        color: white;
        margin-top: -145px;
        font-size: 40px;
        padding: 20px;
        text-shadow: 5px 5px 8px #000;
    }

    .search-section {
        width: 250px;
        margin: auto;
        float: left;

    }

    .search-textbox {
        margin-top: 20px;
        height: 40px;
        width: 99.30%;
        padding-left: 15px;
        border-radius: 24px;
        border: 2px solid transparent;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .search-textbox:hover {
        border-color: #4956f2;
    }

    .search-btn {
        margin-right: 45px;
        margin-top: 20px;
        border-radius: 24px;
        width: 80%;
        height: 40px;
        background-color: #126add;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .search-btn:hover {
        background-color: #0a57bd;
    }

    /*search section end */

    /*job section start */

    .job-container .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 33rem);
        gap: 2rem;
        align-items: flex-start;
        justify-content: center;
    }

    .job-container .box-container .box {
        background-color: var(--white);
        border-radius: .6rem;
        border: var(--border);
        padding: 2.5rem;
        box-shadow: var(--box-shadow);

    }

    .job-container h1 {
        margin-bottom: 25px;
        font-size: 3.3rem;
        color: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .job-container .box-container .box .company {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .job-container .box-container .box .company h3 {
        padding-left: 70px;
        font-size: 2rem;
        color: var(--black);
        text-overflow: ellipsis;
        padding-bottom: .5rem;
    }

    .job-container .box-container .box .company span {
        padding-left: 68px;
        color: var(--main-color);
        font-size: 1.2rem;
    }

    .job-container .box-container .box .company p {
        color: var(--light-color);
        font-size: 1.6rem;
    }

    .job-container .box-container .box .jobs-title {
        font-size: 2rem;
        color: var(--black);
        overflow-x: hidden;
    }

    .job-container .box-container .box .location {
        padding: 1rem 0;
        font-size: 1.5rem;
        color: var(--light-color);
    }

    .job-container .box-container .box .location i {
        margin-right: 8px;
        color: var(--main-color);
    }

    .job-container .box-container .box .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .job-container .box-container .box .tags p {
        padding: 1rem;
        border-radius: .4rem;
        background-color: var(--light-bg);
        font-size: 1.5rem;
        color: var(--light-bg);
    }

    .job-container .box-container .box .tags p span {
        margin-right: 8px;
        color: var(--black);
    }

    .job-container .box-container .box .fa-bookmark {
        background-color: var(--light-bg);
        border-radius: .5rem;
        color: var(--light-color);
        width: 3rem;
        height: 3rem;
    }

    /*job section end */

    /* view jobs section start */
    .job-details .detail {
        background-color: var(--white);
        border-radius: .5rem;
        border: var(--border);
        padding: 2rem;
        box-shadow: var(--box-shadow);
    }

    .job-details .detail h3 {
        margin-bottom: 1rem;
        font-size: 2rem;
        color: var(--light-color);
    }

    .job-details .detail .job-info .comp {
        display: block;
        font-size: 1.3rem;
        color: var(--main-color);
    }

    .job-details .detail .job-info p {
        font-size: 1.2rem;
    }

    .job-details .detail .basic-details {
        margin: 1rem 0;
        background-color: var(--light-bg);
        border-radius: 8px;
        padding: 2rem;
    }

    .job-details .detail .basic-details p {
        color: var(--black);
        padding-bottom: 1.5rem;
        font-size: 1.5rem;
    }

    .job-details .detail ul {
        margin: 1rem 0;
    }

    .job-details .detail ul li {
        padding: 1rem 0;
        font-size: 1.5rem;
        color: var(--black);
        margin-left: 3rem;
    }

    .job-details .detail .description {
        margin-top: 1.5rem;
    }

    .job-details .detail .description p {
        font-size: 1.6rem;
        padding: .5rem 0;
    }

    /* view jobs section end */
</style>

<!-- search section start -->
<form action="/jobs" method="get">
    <div class="width-100 banner-section">

        <div class="container">
            <h1 class="banner-heading">Find Your Dream Job!</h1>
            <div class="search-section">
                <input type="text" class="search-textbox" name="company" placeholder="Search company">
            </div>
            <div class="search-section">
                <input type="text" class="search-textbox" name="location" placeholder="Search location">
            </div>
            <div class="search-section">
                <input type="text" class="search-textbox" name="categories" placeholder="Categories">
            </div>
            <div class="search-section">
                <button class="search-btn" type="sumbit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
            </div>

        </div>
    </div>
</form>
<!--search section end-->

<!--Job section start-->

<section class="job-container">
    <h1 class="heading">Latest Jobs</h1>
    <div class="box-container">
        {% for d in jobData|slice:":9"%}

        <div class="box">

            <div class="company">
                <div>
                    <h3>{{d.company_name}}</h3>
                    <span>{{d.work_mode}}</span>
                </div>
            </div>
            <h3 class="jobs-title">{{d.title}}</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>{{ d.city }}</span>
            </p>
            <div class="tags">
                <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>{{d.minimum_salary}}</span>
                </p>
                <p><i class="fa-solid fa-briefcase"></i>
                    <span>{{d.job_type}}</span>
                </p>
            </div>
            <div class="flex-btn">
                <a href="/view_job?id={{d.id}}" class="btn">View details</a>
                <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
            </div>
        </div>


        {% endfor %}
    </div>

    <div style="text-align: center; margin-top: 1rem;">
        <a href="{% url 'jobs' %}" class="btn">View All</a>

    </div>


</section>

<!--Job section end-->

{% endblock %}

