{%extends "base.html"%}
{% load static %}
{% block content %}
<style>

    .account-form-container {
        background: url('/static/images/newjob.jpg'),rgba(0, 0, 0, .7) no-repeat;
        margin-bottom: 4rem;
        background-position-y: -260px;
        height: 500px;
        background-size: cover;
        background-blend-mode: color;
    }
    
    .account-form-container .account-form {
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .account-form-container .account-form form {
        background-color: var(--white);
        border-radius: .5rem;
        padding: 2rem;
        width: 50rem;
        text-align: center;
    }
    
    .account-form-container .account-form form h3 {
        font-size: 2.5rem;
        color: var(--black);
        margin-bottom: 1rem;
    }
    
    .account-form-container .account-form form .input {
        width: 100%;
        margin: 1rem 0;
        font-size: 1.8rem;
        padding: 1.5rem;
        background-color: var(--light-bg);
    }
    
    .account-form-container .account-form form p {
        padding: 1rem 0;
        font-size: 1.3rem;
        color: var(--black);
    }
    
    .account-form-container .account-form form p a {
        color: var(--main-color);
    }
</style>
<div class="account-form-container">
    <section class="account-form">
        <form action="" method="POST">
            {% csrf_token %}
            <h3>Welcome Back!</h3>


        {% comment %} {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {% elif message.tags == "success" %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}        {% endcomment %}

        


            <input type="text" required name="username" maxlength="30"
            placeholder="username" class="input">

            <input type="password" required name="password" maxlength="15"
            placeholder="Password" class="input">

            <p>don't have an account? <a href="{% url 'signup' %}">Register now</a></p>

            <input type="submit" value="Login now" name="submit" class="btn">
            
        </form>


    </section>

</div>
{% endblock %}

