{%extends "base.html"%}
{% load static %}
{% block content %}

<style>
    .heading-title {
        border-top: 1rem solid var(--main-color);
        border-bottom: 1rem solid var(--main-color);
        background-color: var(--black);
        color: var(--white);
        text-align: center;
        padding: 2rem 2rem;
        font-size: 3.5rem;
    }

    .job-details .detail {
        background-color: var(--white);
        border-radius: .5rem;
        border: var(--border);
        padding: 2rem;
        box-shadow: var(--box-shadow);
    }

    .job-details .detail h3 {
        margin-bottom: 1rem;
        font-size: 2rem;
        color: var(--light-color);
    }

    .job-details .detail .job-info .comp {
        display: block;
        font-size: 1.3rem;
        color: var(--main-color);
    }

    .job-details .detail .job-info p {
        font-size: 1.6rem;
    }

    .job-details .detail .basic-details {
        margin: 1rem 0;
        background-color: var(--light-bg);
        border-radius: 8px;
        padding: 2rem;
    }

    .job-details .detail .basic-details p {
        color: var(--black);
        padding-bottom: 1.5rem;
        font-size: 1.5rem;
    }

    .job-details .detail ul {
        margin: 1rem 0;
    }

    .job-details .detail ul li {
        padding: 1rem 0;
        font-size: 1.5rem;
        color: var(--black);
        margin-left: 3rem;
    }

    .job-details .detail .description {
        margin-top: 1.5rem;
    }

    .job-details .detail .description p {
        font-size: 1.6rem;
        padding: .5rem 0;
    }

    .skills {
        font-size: 15px;
    }

    .additional-details {
        font-size: 15px;
    }

    .contact {
        margin: 6px;
    }
</style>
<!--view job section start-->
<div class="heading-title">Job Details</div>

<section class="job-details">
    <div class="detail">
        <div class="job-info">
            <h3>{{job.title}}</h3>
            <p class="comp">{{job.company_name}}</p>
            <p><i class="fa-solid fa-location-dot"></i> {{job.city}}</p>
        </div>

        <div class="basic-details">
            <h3>Salary</h3>
            <p>{{job.minimum_salary}} - {{job.maximum_salary}} per {{job.rate_period}}</p>
            <h3>Benefits</h3>
            <p>{{job.benefits}}</p>
            <h3>Job type</h3>
            <p>{{job.job_type}}</p>
        </div>
        <ul>
            <h3>Requirements</h3>
            <li>Education: <span>{{job.education}} </span></li>
            <li>Experience: <span>{{job.experience}}</span></li>
        </ul>
        {% comment %} <ul>
            <h3>Skills</h3>
            <li>html and css</li>
            <li>JavaScript</li>
            <li>react.js</li>
            <li>php</li>
            <li>mysql</li>
        </ul> {% endcomment %}
        <h3>Skills</h3>
        <p class="skills">{{job.skills}}</p>
        <div class="description">
            <h3>Job description</h3>
            <p>{{job.description}}</p>
        </div>
        <div class="additional-details">
            <h3>Contact Details</h3>
            <p class="contact">Mobile No:- {{job.mobile_no}}</p>
            <p class="contact">Email ID:- {{job.email}}</p>
            <p class="contact">Street Address:- {{job.street_address}}</p>
        </div>
        <!-- <form action="{% url 'view_job' %}" method="post" class="flex-btn">
                {% csrf_token %} -->

        {% if not request.user.is_staff %}
        <a href="/apply_job/?id={{job.id}}" class="btn">Apply Now</a>
        {% endif %}
        <!-- <input type="submit" value="Apply Now" name="submit" class="btn">

            </form>



        </div> -->

</section>

<!--view job section end-->

{% endblock %}