{%extends "base.html"%}
{% load static %}
{% block content %}


<style>
    .heading-title {
        background-color: var(--black);
        color: var(--white);
        text-align: center;
        padding: 2rem 2rem;
        font-size: 3.5rem;
        border-radius: 10px;
    }


    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
    }

    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2.5rem;
        /* Increase heading font size */
    }

    .job-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .job-item {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        /* Increase margin between job items */
        padding: 20px;
        /* Increase padding for job items */
        border-radius: 5px;
        background-color: #fff;
    }

    .job-item h3 {
        margin-top: 0;
        font-size: 1.5rem;
        /* Increase job title font size */
    }

    .job-item p {
        margin: 10px 0;
        /* Increase margin for better spacing */
        font-size: 1.2rem;
        /* Increase font size for job details */
    }

    .job-item p strong {
        font-weight: bold;
        /* Make the text bold */
    }

    .btn1 {
        margin-top: 1rem;
        display: inline-block;
        padding: 1rem 3rem;
        font-size: 1.5rem;
        color: var(--white);
        background-color: var(--main-color);
        border-radius: .6rem;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .btn1:hover {
        background-color: #023E8A;
    }
</style>

<div class="container">
    <h1 class="heading-title">Employer Dashboard</h1>
    <ul class="job-list">

        {% for job in applicants %}
        <li class="job-item">

            <h3>{{postjob.title}}</h3>

            <p><strong>Name:</strong> {{ job.first_name}} {{job.last_name }}</p>
            <p><strong>Details: </strong> {{ job.email }}.</p>
            <a href="{% url 'applicant' applicant_id=job.id %}" class="btn1" style="margin-top: 0;">View Applicant</a>
        </li>
        {% empty %}
        <li>No jobs available</li>
        {% endfor %}

    </ul>
</div>
{% endblock %}