{%extends "base.html"%}
{% load static %}
{% block content %}

<style>
    /*job section start */

    .heading-title {
        border-top: 1rem solid var(--main-color);
        border-bottom: 1rem solid var(--main-color);
        background-color: var(--black);
    
        color: var(--white);
        text-align: center;
        padding: 2rem 2rem;
        font-size: 3.5rem;
    }

.job-container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap: 3rem;
    align-items: flex-start;
    justify-content: center;
}

.job-container .box-container .box {
    background-color: var(--white);
    border-radius: .6rem;
    border: var(--border);
    padding: 2.5rem;
    box-shadow: var(--box-shadow);
}

.job-container h1 {
    margin-bottom: 25px;
    font-size: 3.3rem;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-container .box-container .box .company {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
}

.job-container .box-container .box .company h3 {
    padding-left: 70px;
    font-size: 2rem;
    color: var(--black);
    text-overflow: ellipsis;
    padding-bottom: .5rem;
}

.job-container .box-container .box .company span {
    padding-left: 68px;
    color: var(--main-color);
    font-size: 1.2rem;
}

.job-container .box-container .box .company p {
    color: var(--light-color);
    font-size: 1.6rem;
}

.job-container .box-container .box .jobs-title {
    font-size: 2rem;
    color: var(--black);
    overflow-x: hidden;
}

.job-container .box-container .box .location {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.job-container .box-container .box .location i {
    margin-right: 8px;
    color: var(--main-color);
}

.job-container .box-container .box .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.job-container .box-container .box .tags p {
    padding: 1rem;
    border-radius: .4rem;
    background-color: var(--light-bg);
    font-size: 1.5rem;
    color: var(--light-bg);
}

.job-container .box-container .box .tags p span {
    margin-right: 8px;
    color: var(--black);
}

.job-container .box-container .box .fa-bookmark {
    background-color: var(--light-bg);
    border-radius: .5rem;
    color: var(--light-color);
    width: 3rem;
    height: 3rem;
}

/*job section end */


</style>


<div class="heading-title">All Jobs</div>
    
<section class="job-container">
    <div class="box-container">
        {% for d in jobs %}
        <div class="box">

            <div class="company">
                <div>
                    <h3>{{d.company_name}}</</h3>
                    <span>{{d.work_mode}}</span>
                </div>
            </div>
            <h3 class="jobs-title">{{d.title}}</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>{{ d.city }}</span>
            </p>
            <div class="tags">
                <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>{{d.minimum_salary}}</span>
                </p>
                <p><i class="fa-solid fa-briefcase"></i>
                    <span>{{d.job_type}}</span>
                </p>
            </div>
            <div class="flex-btn">
                <a href="/view_job?id={{d.id}}" class="btn">View details</a>
                <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
            </div>
        </div>

        {% endfor %}
        {% comment %} <div class="box">
            <div class="company">
                <div>
                    <h3>IT infosys co</h3>
                    <span>2days ago</span>
                </div>
            </div>
            <h3 class="jobs-title">senior web devloper</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>mumbai, India</span></p>
                <div class="tags">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>10k -20k</span></p>
                    <p><i class="fa-solid fa-briefcase"></i>
                    <span>Full time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">View details</a>
                    <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
                </div>
        </div>



        <div class="box">
            <div class="company">
                <div>
                    <h3>IT infosys co</h3>
                    <span>2days ago</span>
                </div>
            </div>
            <h3 class="jobs-title">senior web devloper</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>mumbai, India</span></p>
                <div class="tags">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>10k -20k</span></p>
                    <p><i class="fa-solid fa-briefcase"></i>
                    <span>Full time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">View details</a>
                    <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
                </div>
        </div>



        <div class="box">
            <div class="company">
                <div>
                    <h3>IT infosys co</h3>
                    <span>2days ago</span>
                </div>
            </div>
            <h3 class="jobs-title">senior web devloper</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>mumbai, India</span></p>
                <div class="tags">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>10k -20k</span></p>
                    <p><i class="fa-solid fa-briefcase"></i>
                    <span>Full time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">View details</a>
                    <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
                </div>
        </div>



        <div class="box">
            <div class="company">
                <div>
                    <h3>IT infosys co</h3>
                    <span>2days ago</span>
                </div>
            </div>
            <h3 class="jobs-title">senior web devloper</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>mumbai, India</span></p>
                <div class="tags">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>10k -20k</span></p>
                    <p><i class="fa-solid fa-briefcase"></i>
                    <span>Full time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">View details</a>
                    <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
                </div>
        </div>



        <div class="box">
            <div class="company">
                <div>
                    <h3>IT infosys co</h3>
                    <span>2days ago</span>
                </div>
            </div>
            <h3 class="jobs-title">senior web devloper</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>mumbai, India</span></p>
                <div class="tags">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>10k -20k</span></p>
                    <p><i class="fa-solid fa-briefcase"></i>
                    <span>Full time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">View details</a>
                    <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
                </div>
        </div>


        <div class="box">
            <div class="company">
                <div>
                    <h3>IT infosys co</h3>
                    <span>2days ago</span>
                </div>
            </div>
            <h3 class="jobs-title">senior web devloper</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>mumbai, India</span></p>
                <div class="tags">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>10k -20k</span></p>
                    <p><i class="fa-solid fa-briefcase"></i>
                    <span>Full time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">View Details</a>
                    <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
                </div>
        </div>


        <div class="box">
            <div class="company">
                <div>
                    <h3>IT infosys co</h3>
                    <span>2days ago</span>
                </div>
            </div>
            <h3 class="jobs-title">senior web devloper</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>mumbai, India</span></p>
                <div class="tags">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>10k -20k</span></p>
                    <p><i class="fa-solid fa-briefcase"></i>
                    <span>Full time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">View Details</a>
                    <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
                </div>
        </div>

        <div class="box">
            <div class="company">
                <div>
                    <h3>IT infosys co</h3>
                    <span>2days ago</span>
                </div>
            </div>
            <h3 class="jobs-title">senior web devloper</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>mumbai, India</span></p>
                <div class="tags">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>10k -20k</span></p>
                    <p><i class="fa-solid fa-briefcase"></i>
                    <span>Full time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">View Details</a>
                    <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
                </div>
        </div>


        <div class="box">
            <div class="company">
                <div>
                    <h3>IT infosys co</h3>
                    <span>2days ago</span>
                </div>
            </div>
            <h3 class="jobs-title">senior web devloper</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>mumbai, India</span></p>
                <div class="tags">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>10k -20k</span></p>
                    <p><i class="fa-solid fa-briefcase"></i>
                    <span>Full time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">View Details</a>
                    <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
                </div>
        </div>

        <div class="box">
            <div class="company">
                <div>
                    <h3>IT infosys co</h3>
                    <span>2days ago</span>
                </div>
            </div>
            <h3 class="jobs-title">senior web devloper</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>mumbai, India</span></p>
                <div class="tags">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>10k -20k</span></p>
                    <p><i class="fa-solid fa-briefcase"></i>
                    <span>Full time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">View Details</a>
                    <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
                </div>
        </div>

        <div class="box">
            <div class="company">
                <div>
                    <h3>IT infosys co</h3>
                    <span>2days ago</span>
                </div>
            </div>
            <h3 class="jobs-title">senior web devloper</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>mumbai, India</span></p>
                <div class="tags">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>10k -20k</span></p>
                    <p><i class="fa-solid fa-briefcase"></i>
                    <span>Full time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="view_job.html" class="btn">View Details</a>
                    <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
                </div>
        </div>

        <div class="box">
            <div class="company">
                <div>
                    <h3>IT infosys co</h3>
                    <span>2days ago</span>
                </div>
            </div>
            <h3 class="jobs-title">senior web devloper</h3>
            <p class="location"><i class="fa-solid fa-location-dot"></i>
                <span>mumbai, India</span></p>
                <div class="tags">
                    <p><i class="fa-solid fa-indian-rupee-sign"></i>
                    <span>10k -20k</span></p>
                    <p><i class="fa-solid fa-briefcase"></i>
                    <span>Full time</span></p>
                </div>
                <div class="flex-btn">
                    <a href="{% url 'view_job' %}" class="btn">View Details</a>
                    <button type="submit" class="fa-regular fa-bookmark" name="save"></button>
                </div>
        </div> {% endcomment %}
    </div>

</section>


<!--all jobs section end-->

{% endblock %}
