{%extends "base.html"%}
{% load static %}
{% block content %}

<style>
    .about img {
        width: 100%;
        height: 450px;
        margin-bottom: 1.5rem;
        box-shadow: var(--box-shadow);
    }
    
    .about .box {
        background-color: var(--white);
        border-radius: .3rem;
        padding: 1.5rem;
        box-shadow: var(--box-shadow);
    }
    
    .heading-title {
        border-top: 1rem solid var(--main-color);
        border-bottom: 1rem solid var(--main-color);
        background-color: var(--black);
        color: var(--white);
        text-align: center;
        padding: 2rem 2rem;
        font-size: 3.5rem;
    }
    
    h3 {
        font-size: 1.8rem;
        margin-top: 1.5rem;
    }
    
    .about .box p {
        padding: 1rem 0;
        line-height: 1.8;
        color: var(--black);
        font-size: 1.5rem;
    }
    
    .about .box .features {
        margin-top: -1px;
        margin-bottom: -1px;
    }
    
    .about .box li {
        list-style: none;
        margin-bottom: 7px;
        font-size: 13px;
    }
    
    .about .box .line {
        text-align: center;
        color: var(--light-color);
    }
    
    
    /*about us end */
    
</style>
 
<!--about section start-->
<div class="heading-title">About Us</div>
<section class="about">

    <img src="{% static 'images/about.jpg' %}" alt="image">
    <div class="box">
        <h3>"Experience Your Next Opportunity with Us"</h3>
        <p>JobLink is your trusted platform connecting job seekers with hiring managers. Our goal is to simplify the
            job search process and streamline recruitment, fostering successful connections between talented
            individuals and exciting employment opportunities.</p>
        <p class="features">Key Features:</p>
        <ul>
            <li>User-friendly interface</li>
            <li>Effortless job search and application</li>
            <li>Convenient job posting for employers</li>
            <li>Resume builder for job seekers</li>
            <li>Job alerts and analytics dashboard</li>
        </ul>

        <p class="line">Join JobLink today and embark on a journey towards your professional success!</p>

    </div>

</section>

<!--about section end-->

{% endblock %}