{%extends "base.html"%}
{% load static %}
{% block content %}
<style>
    .heading-title {
        background-color: var(--black);
        color: var(--white);
        text-align: center;
        padding: 2rem 2rem;
        font-size: 3.5rem;
        border-radius: 10px;
    }


    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
    }

    .container {
        width: 80%;
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        /* Center align content */
    }

    h1 {
        font-size: 24px;
        /* Increase font size */
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    .applicant-details p {
        margin: 10px 0;
        color: #555;
        font-size: 1.4rem;
        /* Increase font size for name and location */
        text-align: left;
        /* Align text to left within the container */
    }

    .applicant-details hr {
        border: 0;
        border-top: 1px solid #ddd;
        margin-top: 20px;
    }

    .heading {
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #333;
    }

    .job-details p {
        margin-bottom: 10px;
    }

    .resume-link {
        margin-top: 15px;
        text-align: left;
    }

    .btn {
        margin-top: 0.5rem;
        display: inline-block;
        padding: 1rem 3rem;
        font-size: 1rem;
        color: var(--white);
        background-color: var(--main-color);
        border-radius: .6rem;
    }
</style>

<div class="container">
    <h1 class="heading-title">Applicant Details</h1>
    <div class="applicant-details">


        <p><strong>First Name:</strong> {{ applicant.first_name }}</p>
        <p><strong>Last Name:</strong> {{ applicant.last_name }}</p>
        <p><strong>Email:</strong> {{ applicant.email }}</p>
        <p><strong>Phone:</strong> {{ applicant.phone }}</p>
        <p><strong>Location:</strong> {{ applicant.location }}</p>
        <hr>
        <p class="heading">Job Experience:</p>

        <p><strong>Job Title:</strong> {{ applicant.job_title }}</p>
        <p><strong>Company Name:</strong> {{ applicant.company_name }}</p>
        <p><strong>Experience:</strong> {{ applicant.experience }}</p>
        <div class="resume-link">
            <p><strong>Resume:</strong></p>
            <a href="{{ applicant.resume.url }}" target="_blank" class="btn"> View Resume</a>
        </div>

    </div>
</div>

{% endblock %}