{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <style>
        .alert-danger {
            color: white;
            background-color: red;
        }

        .alert-success {
            color: white;
            background-color: green;
        }
    </style>
    <!--header start-->
    <header class="header">
        <section class="flex">
            <div id="menu-btn" class="fa-solid fa-bars"></div>
            <a href="{% url 'home' %}" class="logo"><i class="fa-solid fa-briefcase"></i>JobLink</a>
            <nav class="navbar">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About Us</a>
                <a href="{% url 'jobs' %}">Jobs</a>

                {% if not request.user.is_authenticated %}
                <a href="{% url 'signin' %}">Sign In</a>
                <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}

            </nav>

            <div class="button">
                {% if request.user.is_staff %}
                <a href="{% url 'emp_account' %}" class="btn" style="margin-top: 0;">Post Job</a>
                {% else %}
                <a href="{% url 'resume' %}" class="btn" style="margin-top: 0;">Create Resume</a>
                {% endif %}
            </div>

            {% if user.is_authenticated %}
            <a href="{% url 'user_profile' %}" class="logo"><i class="fa-solid fa-user"></i></a>
            {% endif %}
        </section>
    </header>
    <!--header end-->

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == "error" %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% elif message.tags == "success" %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% block content %}


    {% endblock %}


    <!--footer start-->

    <footer class="footer">
        <div class="grid">
            <div class="box">

                <h3>Quick Links</h3>
                <a href="{% url 'home' %}"><i class="fas fa-angle-right"></i> Home</a>
                <a href="{% url 'about' %}"><i class="fas fa-angle-right"></i> About</a>
                <a href="{% url 'jobs' %}"><i class="fas fa-angle-right"></i> All Jobs</a>
                <a href="{% url 'home' %}"><i class="fas fa-angle-right"></i> Filter Search</a>
            </div>
            <div class="box">
                <h3>Direct Links</h3>
                <a href="{% url 'signup' %}"><i class="fas fa-angle-right"></i> Account</a>
                <a href="{% url 'signin' %}"><i class="fas fa-angle-right"></i> Login</a>
                <a href="{% url 'signup' %}"><i class="fas fa-angle-right"></i> Register</a>
                <a href="{% url 'postjob' %}"><i class="fas fa-angle-right"></i> Post Jobs</a>
            </div>
            <div class="box">
                <h3 class="align">Follow Us</h3>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fab fa-facebook-f"></i> FaceBook</a>
                <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                <a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a>
            </div>

        </div>

        <div class="credit">&copy; copyright @2024 by <span>JobLink</span> | all rights reserved</div>
    </footer>
    <!--footer end-->

    <script src="js/script.js"></script>
</body>

</html>