{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>


<body>
    <!--header start-->

    <header class="header">
        <section class="flex">
            <div id="menu-btn" class="fa-solid fa-bars"></div>
            <a href="{% url 'home' %}" class="logo"><i class="fa-solid fa-briefcase"></i>JobLink</a>
            <nav class="navbar">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About Us</a>
                <a href="{% url 'jobs' %}">Jobs</a>

                <!-- <a href="{% url 'signin' %}">Sign In</a>
                <a href="{% url 'signup' %}">Sign Up</a> -->

                {% if not request.user.is_authenticated %}
                <a href="{% url 'signin' %}">Sign In</a>
                <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}

                <!-- Render logout link if user is authenticated -->
                <!-- {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                {% endif %} -->


            </nav>
            <div class="button">
                <a href="{% url 'emp_account' %}" class="btn" style="margin-top: 0;">Post Job</a>
                <a href="{% url 'resume' %}" class="btn" style="margin-top: 0;">Create Resume</a>
            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'user_profile' %}" class="logo"><i class="fa-solid fa-user"></i></a>
            {% endif %}
        </section>
    </header>
    <!--header end-->



    {% block content %}

    {% endblock %}

    </body>

</html>
