{%extends "base.html"%}
{% load static %}
{% block content %}

<style>
  .container {
    max-width: 700px;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


  .profile-header {
    text-align: center;
  }

  .profile-image {
    margin: 10px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .profile-form {
    display: grid;
    gap: 10px;
  }

  .profile-form label {
    font-weight: bold;
  }

  .profile-form input[type="text"],
  .profile-form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .profile-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0077b6;
    color: #fff;
    cursor: pointer;
  }

  .profile-form input[type="submit"]:hover {
    background-color: #0056b3;
  }

  input {
    background-color: #eaf4f4;
  }

  .custom-file-upload {
    margin: 20px auto;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #0077b6;
    color: white;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    transition: all .2s;
  }

  .custom-file-upload:hover {
    background-color: #0056b3;
  }

  .profile_pic {

    margin: -25px auto;
  }

  .input {
    width: 100%;
    margin: 1rem 0;
    font-size: 1.8rem;
    padding: 1.5rem;
    background-color: var(--light-bg);
  }

  .heading-title {
    border-top: 1rem solid var(--main-color);
    border-bottom: 1rem solid var(--main-color);
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 2rem 2rem;
    font-size: 3.5rem;
  }

  .btn-profile {
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  .profile-btn {
    background: transparent;
    color: #0077b6;
    border: 2px solid #0077b6;
  }

  .btn-profile :hover {
    color: #2b83e1;
    border: 2px solid #2b83e1;
  }

  hr {
    border: none;
    border-top: 1px solid #ccc;
    /* You can change the color */
    margin: 6px 0;
    /* Adjust margin to suit your needs */
  }

  a {
    font-size: 15px;
    color: black;
    font-weight: 500;
  }

  label {
    font-size: 12px;
  }

  .extra-links {
    display: flex;
    justify-content: space-between;
  }

  .credit {
    text-align: center;
    font-size: 1.7rem;
    color: rgb(65, 65, 65);
  }
</style>


<h1 class="heading-title">User Profile</h1>
<div class="container">

  <div class="profile-header">

    <!-- <img class="profile-image" src="{% static 'images/user.png' %}" alt="Profile Image"> -->

  </div>

  <form class="profile-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <img class="profile-image" src="{{user_profile.image.url}}" alt="Profile Image">
    <div class="profile_pic">
      <label for="dp" class="custom-file-upload">Choose Image</label>
      <input type="file" name="dp" class="dp" id="dp" style="display: none;">
    </div>
    <div>
      <label for="username">Username: </label>
      <input type="text" value="{{user_model.username}}" id="username" name="username" readonly>
    </div>
    <div>
      <label for="first_name">First Name: </label>
      <input type="text" value="{{user_model.first_name}}" id="first_name" name="first_name">
    </div>
    <div>
      <label for="last_name">Last Name:</label>
      <input type="text" value="{{ user_model.last_name }}" id="last_name" name="last_name">
    </div>
    <div>
      <label for="email">Email: </label>
      <input type="text" value="{{user_model.email}}" id="email" name="email">
    </div>
    <div>
      <label for="bio">Bio: </label>
      <textarea id="bio" class="input" name="bio">{{user_profile.bio}}</textarea>
      <input type="hidden" name="current_bio" value="{{ user_profile.bio }}">
    </div>
    <input type="submit" value="Update Profile">

    <hr>

    <a href="{% url 'home' %}" class="extra-links"><span>Home</span><i class="fa-solid fa-greater-than"></i></a>
    <hr>
    {% if request.user.is_staff %}
    <a href="{% url 'emp_dashboard' %}" class="extra-links"><span>Employers</span><i
        class="fa-solid fa-greater-than"></i></a>
    <hr>
    {% else %}
    <a href="{% url 'resume' %}" class="extra-links"><span>Generate CV</span><i
        class="fa-solid fa-greater-than"></i></a>
    <hr>
    {% endif %}
    <a href="{% url 'contact' %}" class="extra-links"><span>Contact US</span><i class="fa-solid fa-greater-than"></i></a>
    <hr>
    <a href="{% url 'jobs' %}" class="extra-links"><span>Find Jobs</span><i class="fa-solid fa-greater-than"></i></a>




    <hr>
    <!-- <button type="submit" class="btn-logout logout">Admin Login</button> -->
    <!-- <a href="{% url 'admin:index' %}" class="btn-profile profile-btn">Admin Login</a> -->



  </form>
  <form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}

    <button type="submit" class="btn-profile profile-btn">Logout</button>
  </form>
  <hr>
  <div class="credit">&copy; copyright @2024 by <span>JobLink</span> | all rights reserved</div>
</div>


{% endblock %}